# Ignore node_modules directory
/node_modules

# Ignore build output
/.next

# Ignore environment variables file (if applicable)
.env

# Ignore logs
*.log

# Ignore editor/IDE files
.vscode
.idea

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error log
yarn-error.log*
